<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs", {title: "Reegalo - Contacto"}) %>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>

    <!-- Header del Sitio -->

    <%- include("../partials/header.ejs") %>

    <section>
        <div class="container-preguntas">
            <div>
                <h1>Preguntas Frecuentes</h1>
            </div>
            <div class="contenedor-preguntasyrespuestas">
                <% preguntasFrecuentes.filter (function(pregunta) { %>
                <div class="contenedor-cadapregunta">
                    <div class="pregunta"> <%= pregunta.pregunta %> </div>
                    <div class="respuesta"> <%= pregunta.respuesta %> </div>

                </div>
                <% }) %>
            </div>
        </div>
    </section>

    <!-- Footer del Sitio -->

    <%- include("../partials/footer.ejs") %>

</body>

</html>